/* line 1, /Users/will/work/web/webrtc-phone/instacall/compile/sass/sidebar.sass */
html.ic-shift {
  position: relative !important;
  top: 0 !important;
  left: 320px !important;
  width: 100% !important;
}

/* line 7, /Users/will/work/web/webrtc-phone/instacall/compile/sass/sidebar.sass */
#ic-frame {
  position: absolute;
  top: 0;
  left: -320px;
  width: 320px;
  height: 100%;
  border: none;
  border-right: 1px solid #cccccc;
}

/* line 16, /Users/will/work/web/webrtc-phone/instacall/compile/sass/sidebar.sass */
#ic-frame-close {
  position: absolute;
  top: 0;
  left: -25px;
  height: 20px;
  width: 20px;
  z-index: 1000;
  background: url("../img/x-666666.png") no-repeat center;
  background-size: 9px;
  border: none;
  padding: 0;
  margin: 0;
  color: transparent;
  cursor: pointer;
}
/* line 31, /Users/will/work/web/webrtc-phone/instacall/compile/sass/sidebar.sass */
#ic-frame-close:hover {
  background-image: url("../img/x-000000.png");
}

/* line 6, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button {
  border: none;
  overflow: visible;
  display: inline-block;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  height: 10px;
  padding: 11px;
  -webkit-font-smoothing: antialiased;
  font: 14px/10px "Helvetica Neue", Arial, sans-serif;
  /* Disabled by default */
  background: #eeeeee;
  color: #7e8a8e;
}
/* line 9, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 26, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=skeu-light], .ic-button[data-theme=skeu-dark] {
  border-radius: 0;
}
/* line 29, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=skeu-light]:not([disabled]), .ic-button[data-theme=skeu-dark]:not([disabled]) {
  background-color: #295c29;
  border: 1px solid black;
  background-image: -webkit-linear-gradient(top, #3f6d3f, #295c29 30%, #295c29 60%, #245124);
  background-image: -moz-linear-gradient(top, #3f6d3f, #295c29 30%, #295c29 60%, #245124);
  background-image: -ms-linear-gradient(top, #3f6d3f, #295c29 30%, #295c29 60%, #245124);
  background-image: -o-linear-gradient(top, #3f6d3f, #295c29 30%, #295c29 60%, #245124);
  background-image: linear-gradient(to bottom, #3f6d3f, #295c29 30%, #295c29 60%, #245124);
  -webkit-box-shadow: 1px 1px 0 rgba(155, 155, 155, 0.2) inset;
  -moz-box-shadow: 1px 1px 0 rgba(155, 155, 155, 0.2) inset;
  box-shadow: 1px 1px 0 rgba(155, 155, 155, 0.2) inset;
  color: white;
}
/* line 42, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=skeu-light]:not([disabled]):active, .ic-button[data-theme=skeu-dark]:not([disabled]):active {
  padding-top: 12px;
  padding-bottom: 10px;
  background-image: -webkit-linear-gradient(top, #245124, #295c29 30%, #295c29 60%, #3f6d3f);
  background-image: -moz-linear-gradient(top, #245124, #295c29 30%, #295c29 60%, #3f6d3f);
  background-image: -ms-linear-gradient(top, #245124, #295c29 30%, #295c29 60%, #3f6d3f);
  background-image: -o-linear-gradient(top, #245124, #295c29 30%, #295c29 60%, #3f6d3f);
  background-image: linear-gradient(to bottom, #245124, #295c29 30%, #295c29 60%, #3f6d3f);
}
/* line 51, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=flat-light] {
  border-radius: 3px;
}
/* line 54, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=flat-light]:not([disabled]) {
  background: #2ac56c;
  color: white;
}
/* line 58, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=flat-light]:not([disabled]):hover {
  background-color: #17aa56;
}
/* line 61, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=flat-light]:not([disabled]):active {
  background-color: #0b8b42;
}
/* line 64, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=flat-dark] {
  border-radius: 3px;
}
/* line 67, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=flat-dark]:not([disabled]) {
  background: #2ac56c;
  color: white;
  border: 2px solid #0b8b42;
}
/* line 72, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=flat-dark]:not([disabled]):hover {
  background-color: #289456;
}
/* line 75, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button[data-theme=flat-dark]:not([disabled]):active {
  background-color: #1d8a4c;
}
/* line 79, /Users/will/work/web/webrtc-phone/instacall/compile/sass/button.sass */
.ic-button.ic-button.ic-text, .ic-button.ic-button.ic-text:hover, .ic-button.ic-button.ic-text:active, .ic-button.ic-button.ic-img, .ic-button.ic-button.ic-img:hover, .ic-button.ic-button.ic-img {
  background: none;
  border: none;
  color: #379144;
  padding: 0;
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
